.login-container {
  z-index: 2;
}

.login-title {
  color: #764ba2;
}

.login-btn {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border: none;
}

.login-link {
  color: #764ba2;
}
