.dashboard-hero {
  min-height: 300px;
  padding-bottom: 100px;
}

.dashboard-hero-content {
  z-index: 2;
}

.dashboard-content-container {
  margin-top: -80px;
  position: relative;
  z-index: 3;
}

.dashboard-nav-link.active {
  background-color: #4e73df !important;
  border-color: #4e73df !important;
  color: white;
}

.dashboard-card-title {
  color: #764ba2;
}
